<layout name="../../../Resource/View/master"/>
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#">权限管理</a></li>
    <li><a href="#">编辑权限</a></li>
</ul>
<div class="m-b-md">
    <h3 class="m-b-none">编辑权限</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">编辑权限</header>
            <div class="panel-body">

                <table class="table table-hover">
                	<thead>
                		<tr>
                			<th>权限名称</th>
                			<th>权限URL</th>
                			<th>操作</th>
                		</tr>
                	</thead>
                	<tbody>
                		<foreach name="data" item="v" key="k">
                            <tr>
                                <td>{$v['pri_name']}</td>
                                <td>{$v['pri_url']}</td>
                                <td><a href="{:U('handler',['id'=>$v['id']])}">修改</a>
                                    <a href="{:U('del',['id'=>$v['id']])}">删除</a>
                                </td>
                            </tr>
                        </foreach>
                	</tbody>
                </table>
            </div>
        </section>
    </div>
</div>

